<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="WDPH_PrevNext::4_wdph_prevnext" title="PrevNext" module="WDPH_PrevNext" sortOrder="60" action="adminhtml/system_config/edit/section/wdph_prevnext" parent="WDPH_Base::0_wdph" resource="WDPH_PrevNext::main_configurations" />
	</menu>
</config>